html, body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

#banner {
	height: 100vh;
	color: white;
	background: url("background.png");
}

#banner p {
	font-size: 18px;
}

#banner .logo {
	color: #fff;
	margin-top: 40vh;
	font-size: 75px;
}

#banner .logo small {
	color: #f96e15;
	font-size: 20px;
	margin-left: -10px;
}

#banner .logo img {
	width: 75px;
	margin-top: -10px;
	margin-right: 5px;
}

#conteudo {
	margin-top: 50px;
}

#conteudo .btn {
	border-radius: 0;
}

#conteudo .btn-primary {
	background-color: #111;
	border: 3px solid #222;
}

#conteudo a {
	color: #999;
}

#conteudo a:hover {
	color: #444;
	text-decoration: none;
}

pre {
	border-radius: 0;
	background-color: #282c34;
	padding: 10px;
}

.botoes-code {
	margin-bottom: 10px;
}

.nota-desenvolvedor {
	width: 100%;
	padding: 20px;
	background-color: #e9e9e9;
	margin: 30px 0;
	text-align: justify;
}

.sumario {
	list-style: none;
}

.sumario h3 {
	margin-bottom: 20px;
}
.sumario li {
	margin: 5px 0;
}